<a href="https://colab.research.google.com/github/harisariefkamis/Final-Project-DAB14/blob/main/learn_Python_Data_Type_%26_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def luas_persegi(panjang, lebar):
  luas = panjang * lebar
  return luas

print(luas_persegi(20, 10))

200

In [ ]:
luas_persegi = lambda panjang, lebar: panjang*lebar
luas_segitiga = lambda alas, tinggi: alas*tinggi/2

200

# List

## Create List

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

## Indexing List

In [ ]:
first_element = my_list[0]
print(first_element)

1

## Append List

In [ ]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

## Remove element in list

In [ ]:
my_list.remove(3)
print(my_list)

[1, 2, 4, 5, 6]

## Slicing list

In [ ]:
subset = my_list[1:4]
print(subset)

[2, 4, 5]

# Set

## Create Set

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

## Add element in set

In [ ]:
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

## Remove element in set

In [ ]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

## Set operations

In [ ]:
set_union = {1, 2, 3} | {3, 4, 5}
print(set_union)

{1, 2, 3, 4, 5}

In [ ]:
set_intersection = {1, 2, 3} & {3, 4, 5}
print(set_intersection)

{3}

In [ ]:
set_difference = {1, 2, 3} - {3, 4, 5}
print(set_difference)

{1, 2}

In [ ]:
symmetric_difference = {1, 2, 3} ^ {3, 4, 5}
print(symmetric_difference)

{1, 2, 4, 5}

# Tuple

## Create tuple

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple)

(10, 20, 30, 40, 50)

## Indexing Tuple

In [ ]:
value = my_tuple[2]
print(value)

30

# Dictionary

## Create a dictionary

In [ ]:
my_dict = {'name': "John", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

## Accessing values

In [ ]:
name = my_dict["name"]
print(name)

John

## Adding Key-value

In [ ]:
my_dict["occupation"] = "Developer"
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'occupation': 'Developer'}

## Update value

In [ ]:
my_dict["city"] = "Washington"
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'Washington', 'occupation': 'Developer'}

## Remove key-value

In [ ]:
del my_dict["city"]
print(my_dict)

{'name': 'John', 'age': 25, 'occupation': 'Developer'}

# Function

## Simple Function

In [ ]:
def add_func(x, y):
  z = x+y
  return z

total = add_func(10, 11)
print(total)

21

## Lambda

In [ ]:
f = lambda x, y: x + y
f(2,3)

5

# Looping

## Looping List

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

## Looping String

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## Looping Range

In [ ]:
range(6)

range(0, 6)

In [ ]:
for x in range(10000):
  print("hello world")

In [2]:
# @title While
i = 1
while 1 < 5:
  print(i)
  break

1

## Break

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana": #ini adalah batasan looping
    break #untuk menghentikan looping
  print(x)

apple

## Continue

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue #skiip to looping
  print(x)

apple
cherry

## Looping with Conditional

In [3]:
for x in range(10,30):
  if x%2==0 and x%5==0:
    print(f"{x} adalah bilangan  yang habis di bagi 2 dan 5")
  elif x%3==0 and x%2 == 1:
    print(f"{x} adalah bilangan habis di bagi 3 dan {x} adalah bilangan ganjil")
  elif x%7==0:
    print(f"{x} adalah bilangan kelipatan 7")
  else:
    print(x)

10 adalah bilangan  yang habis di bagi 2 dan 5
11
12
13
14 adalah bilangan kelipatan 7
15 adalah bilangan habis di bagi 3 dan 15 adalah bilangan ganjil
16
17
18
19
20 adalah bilangan  yang habis di bagi 2 dan 5
21 adalah bilangan habis di bagi 3 dan 21 adalah bilangan ganjil
22
23
24
25
26
27 adalah bilangan habis di bagi 3 dan 27 adalah bilangan ganjil
28 adalah bilangan kelipatan 7
29

## Nested Loop

In [ ]:
adj = ["sweet", "shiny", "delicious"]
fruits = ["avocado", "apple", "orange"]

for x in adj:
  for y in fruits:
    print(x, y)

sweet avocado
sweet apple
sweet orange
shiny avocado
shiny apple
shiny orange
delicious avocado
delicious apple
delicious orange